<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= strip_tags(@title) %></title>
  <%= stylesheet_link_tag 'crud' %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<div id="container">
	<ul id="menu">
		<%= render 'layouts/menu' %>
	</ul>
	
	<h1><%= @title %></h1>
	
	<% if flash.notice.present? %>
		<div id="flash_notice"><%= raw(flash.notice) %></div>
	<% elsif flash.alert.present? %>
		<div id="flash_alert"><%= raw(flash.alert) %></div>
	<% end %>
	
	<div class="actions">
		<%= yield :actions %>
	</div>
	
	<div id="content">
		<%= yield %>
	</div>
</div>

<%= javascript_include_tag :defaults, :cache => 'all' %>
<%= javascript_tag yield(:javascripts) if content_for?(:javascripts) %>

</body>
</html>
