!!! 5

%html
  %head
    %meta{:charset => 'utf-8'}
    %title= strip_tags(@title)
    = csrf_meta_tag

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    = stylesheet_link_tag 'application', :media => 'all'
    
    = favicon_link_tag
    = favicon_link_tag '/apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png'
    = favicon_link_tag '/apple-touch-icon-72x72.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => "72x72"
    = favicon_link_tag '/apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => "114x114"

    = yield :head

  %body
    .container
      .navbar= render 'layouts/nav'

      %h1= @title

      = render :partial => 'layouts/flash', :collection => [:notice, :alert], :as => :level

      .actions.btn-toolbar
        .pull-right= yield :actions
        .pull-left= yield :tools

      #content= yield

    %footer
      %p
        &copy; code!z #{Time.zone.now.year}

  = javascript_include_tag 'application'
  = javascript_tag yield(:javascripts) if content_for?(:javascripts)
