!!! 5

%html
  %head
    %meta{:charset => 'utf-8'}
    %title
      = strip_tags(@title)
      \- MyApp

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = csrf_meta_tag

    = stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{src: 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
      %script{src: 'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'}

    = favicon_link_tag
    = favicon_link_tag '/apple-touch-icon.png',
                       rel: 'apple-touch-icon',
                       type: 'image/png'
    = favicon_link_tag '/apple-touch-icon-72x72.png',
                       rel: 'apple-touch-icon',
                       type: 'image/png',
                       sizes: "72x72"
    = favicon_link_tag '/apple-touch-icon-114x114.png',
                       rel: 'apple-touch-icon',
                       type: 'image/png',
                       sizes: "114x114"

    = yield :head

  %body
    %nav.navbar.navbar-default{role: 'navigation'}
      = render 'layouts/nav'
      
    .container
      %h1= @title

      .row.actions
        .col-md-5
          = yield :tools
        .col-md-7
          .btn-toolbar.pull-right
            = yield :actions

      #flash= render partial: 'layouts/flash', collection: [:notice, :alert], as: :level

      #content= yield

    %footer
      %p
        &copy; code!z #{Time.zone.now.year}

  = javascript_tag yield(:javascripts) if content_for?(:javascripts)
