<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title %></title>
  <%= stylesheet_link_tag 'crud' %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= yield :head %> 
</head>
<body>

<div id="container">
	<ul id="menu">
		<%= render :partial => 'layouts/menu' %>
	</ul>
	
	<h1><%= @title %></h1>
	
	<% if flash.notice.present? %>
		<div id="flash_notice"><%= flash.notice %></div>
	<% elsif flash.alert.present? %>
		<div id="flash_alert"><%= flash.alert %></div>
	<% end %>
	
	<div class="actions">
		<%= yield :actions %> 
	</div>
	
	<div id="content">
		<%= yield %>
	</div>
</div>

</body>
</html>
