<%= form_tag(nil, method: :get, role: 'search', class: 'form-inline') do %>
  <%= hidden_field_tag :returning, true %>
  <%= hidden_field_tag :page, 1 %>
  <div class="input-group">
	<%= search_field_tag :q, params[:q], class: 'form-control' %>
    <span class="input-group-btn">
	  <%= submit_tag ti(:"button.search"), class: 'btn btn-default' %>
	</span>
  </div>
<% end %>
