<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= strip_tags(@title) %></title>
  <%= csrf_meta_tag %>

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true %>
  <style type="text/css">
    body { padding-top: 70px; }
    h1 { margin-bottom: 10px; }
  </style>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- fav and touch icons -->
  <link href="images/favicon.ico" rel="shortcut icon">
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">

  <%= yield :head %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= render 'layouts/nav' %>
    </div>
  </div>
</div>

<div class="container">

  <h1><%= @title %></h1>

  <%= render partial: 'layouts/flash', collection: [:notice, :alert], as: :level %>

  <div class="actions btn-toolbar">
    <div class="pull-right">
      <%= yield :actions %>
    </div>
    <div class="pull-left">
      <%= yield :tools %>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <footer>
    <p>&copy; code!z <%= Time.zone.now.year %></p>
  </footer>

</div>

<!-- Javascript placed at the end of the document so the pages load faster -->
<%= javascript_tag yield(:javascripts) if content_for?(:javascripts) %>

</body>
</html>
