!!! 5

%html
  %head
    %meta{:charset => 'utf-8'}
    %title
      = strip_tags(@title)
      \- MyApp

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    = csrf_meta_tag
    = csp_meta_tag

    = stylesheet_link_tag 'application', :media => 'all', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true

    = yield :head

  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-4
      .container-fluid
        = render 'layouts/nav'

    .container
      %h1= @title

      .row.actions.mb-3
        .col-md-5
          = yield :tools
        .col-md-7
          .btn-toolbar.float-end
            = yield :actions

      #flash= render partial: 'layouts/flash', collection: [:notice, :alert], as: :level

      #content= yield

    %footer
      %p
        &copy; code!z #{Time.zone.now.year}

  = javascript_tag yield(:javascripts) if content_for?(:javascripts)
